:root {
  --skyblue: #F3FBFF;
  --activecolor: #164E72;
  --greencolor: #77B942;
  --bluecolor: #154E72;
  --subtitle: #585858;
  --navlink: #D9D9D9;
  --whitecolor: #FFFFFF;
  --textcolor: #7C7A7A;
  --bordercolor: #D4D4D4;
  --lightwhitbg: #F0F0F0;
  --btnbg: linear-gradient(90deg, #18B9D1 3.5%, #7FBC41 100%);
}

/* banner css  */

.banner-content {
  text-align: center;
  padding: 120px 100px;
  position: relative;
  z-index: 1;
}

.home-banner-content {
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 125px;
  justify-content: space-between;
}

.home-banner-content .left-content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 47%;
  margin-top: 10px;
  z-index: 9;
  position: relative;
}

.banner-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: var(--bluecolor);
}

.main.btn {
  border: unset;
  background: var(--btnbg);
  color: var(--whitecolor);
  margin-right: auto;
  width: 329px;
  height: 74px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
  z-index: 9;
  overflow: hidden;
}

.main.btn:hover {
  transition: 0.5s;
}

.main.btn::after {
  content: " ";
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
  transition: 0.5s;
  z-index: -1;
}

.main.btn:hover:after {
  width: 100%;
  height: 100%;
  background: linear-gradient(320deg, #18B9D1 3.5%, #7FBC41 100%);
  transition: 0.5s;
}

.banner-img {
  height: 680px;
  width: 800px;
  position: relative;
  z-index: 9;
}

.managmet-sec-left .common-title {
  color: var(--bluecolor);
  text-align: start;
  margin-right: 36px
}

.managmet-sec-right .sub-text {
  margin-bottom: 15px;
  text-align: justify;
}

.list-card .sub-title {
  margin-bottom: 15px;
  margin-top: 30px;
}

.managmet-sec-right .sub-text:last-child {
  margin-bottom: 0px;
}

.mange-sec-img {
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
}

.mange-sec-img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* core-feature sec */
.feature-sec {
  background: #F3FBFF;
  padding: 55px 0px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.feature-content {
  padding: 0px 100px;
  position: relative;
  width: 50%;
  flex-shrink: 0;
}

.feature-list .feature-content:nth-child(2n+1),
.service-list .service-list-card:nth-child(2n+1) {
  border-right: 1px solid var(--navlink);
}
/* .service-list .service-list-card:nth-child(2n+1){
  border-right: 1px solid  var(--textcolor);
} */
.feature-content-img {
  width: 445px;
  height: 225px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 60px;
}

.feature-content .sub-title,
.feature-content-2 .sub-title {
  margin-bottom: 40px;
}

.list-inform {
  position: relative;
}

.list-inform li {
  font-size: 15px;
  line-height: 40px;
  font-weight: 600;
  color: var(--textcolor);
  display: flex;
  align-items: flex-start;
}

.list-inform li::before {
  content: "\f00c";
  width: 17px;
  border-radius: 50%;
  background-color: #94C63A;
  color: var(--whitecolor);
  font-family: "font awesome 5 pro";
  font-size: 9px;
  display: flex;
  line-height: 21px;
  height: 17px;
  align-items: center;
  justify-content: center;
  margin: 11px 15px 0px 0px;
  flex-shrink: 0;
}

.list-inform {
  margin-bottom: 50px;
}

/* feature-list-2 */
.feature-list-2 .feature-content-img {
  width: 560px;
  height: 460px;
  margin-bottom: 0px;
}

.feature-content-2 {
  display: flex;
  gap: 135px;
  align-items: center;
}

.feature-list-2 {
  display: flex;
  gap: 130px;
  flex-direction: column;
}

.feature-content-2:nth-child(2n) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* our-services sec */
.our-services-wrap {
  position: relative;
  overflow: hidden;
}

.service-inner {
  position: relative;
  z-index: 9;
}

.our-services {
  padding-top: 55px;
  background-color: #F3FBFF;
}

.our-services .sub-mutual-text,
.our-services .common-title,
.service-list-card .sub-text,
.service-list-card .sub-title {
  text-align: center;
}

.service-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0px 60px;
  position: relative;
  z-index: 9;
}

.sevice-icon {
  width: 76px;
  height: 76px;
  border: 1px solid var(--whitecolor);
  padding: 20px;
  margin-bottom: 30px;
  background: var(--whitecolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.service-list-card .sub-title {
  margin-bottom: 20px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
}

.service-list .service-list-card:nth-child(2n+1)::after {
  right: -60px;
  color: var(--textcolor);
}

.service-img-gallary {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.service-img {
  flex: 0 0 auto;
  width: 23%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: -132px;
  height: 395px;
  z-index: 9;
}

.mutual-right .common-title {
  text-align: start;
}

.mutual-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.mutual-fund-img {
  height: 700px;
}