@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf'),
    url('../fonts/Montserrat-Regular.woff2'),
        url('../fonts/Montserrat-Regular.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf'),
    url('../fonts/Montserrat-Light.woff2'),
        url('../fonts/Montserrat-Light.woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf'),
    url('../fonts/Montserrat-Medium.woff2'),
        url('../fonts/Montserrat-Medium.woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf'),
    url('../fonts/Montserrat-SemiBold.woff2'),
        url('../fonts/Montserrat-SemiBold.woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf'),
    url('../fonts/Montserrat-Bold.woff2'),
        url('../fonts/Montserrat-Bold.woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf'),
    url('../fonts/Montserrat-ExtraBold.woff2'),
        url('../fonts/Montserrat-ExtraBold.woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.ttf'),
        url('../fonts/Montserrat-Black.woff2'),
        url('../fonts/Montserrat-Black.woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: 'Montserrat';
}

h1{
    font-family: 'Montserrat-ExtraBold';
}

h2{
    font-family: 'Montserrat-Bold';
}

 h3{
    font-family: 'Montserrat-SemiBold';
 }
 P{
    font-family: 'Montserrat-Light';
 }
