/* term and privecy */
:root {
  --skyblue: #F3FBFF;
  --activecolor: #164E72;
  --greencolor: #77B942;
  --bluecolor: #154E72;
  --subtitle: #585858;
  --navlink: #D9D9D9;
  --whitecolor: #FFFFFF;
  --textcolor: #7C7A7A;
  --bordercolor: #D4D4D4;
  --lightwhitbg: #F0F0F0;
  --btnbg: linear-gradient(90deg, #18B9D1 3.5%, #7FBC41 100%);
}


  a.link {
    color: var(--bluecolor);
    font-weight: 700;
  }
  .terms-condition .sub-mutual-text {
    margin-top: 80px;
    text-transform:capitalize;
    margin-right: 300px;
  }
  .sub-text.main{
    margin-right: 300px;
  }
  .list-of-terms li {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
  }
  
  .tems .count {
    flex-shrink: 0;
    width: 25px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    border-radius: 50%;
    background-color: #94C63A;
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    color: var(--whitecolor);
  }
  
  hr.terms {
    margin: 67px 0px;
    color: var(--navlink);
  }
  
  .list-of-payment-term {
    padding-left: 20px;
  }
  
  .list-of-payment-term li {
    margin-bottom: 20px;
    list-style-type: disc;
    list-style: disc;
  }
  
  .list-of-payment-term li::marker {
    color: var(--subtitle);
  }