:root {
  --skyblue: #F3FBFF;
  --activecolor: #164E72;
  --greencolor: #77B942;
  --bluecolor: #154E72;
  --subtitle: #585858;
  --navlink: #D9D9D9;
  --whitecolor: #FFFFFF;
  --textcolor: #7C7A7A;
  --bordercolor: #D4D4D4;
  --lightwhitbg: #F0F0F0;
  --btnbg: linear-gradient(90deg, #18B9D1 3.5%, #7FBC41 100%);
}

/* about-us section */
.about-us.home-banner-content .left-content {
  width: 55%;
  gap: 20px;
}

.about-us.home-banner-content .left-content .common-title {
  text-align: start;
}

.about-us.home-banner-content .banner-img {
  width: 600px;
  height: auto;
}

.home-banner.about {
  height: 670px;
}

.aboutus-banner {
  background-color: var(--activecolor);
  position: relative;
  background-size: cover;
}

.breadcum-wrp {
  display: flex;
  height: 550px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 9;
}

.breadcum-wrp .breadcrumb {
  margin-bottom: 0px;
  padding: 18px 30px;
  background: #164e727d;
  display: inline-flex;
  margin-bottom: 5px;
}

.breadcum-wrp .breadcrumb .breadcrumb-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: var(--navlink);
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--navlink);
}

.aboutus-banner::after {
  content: " ";
  background-image: url(/images/about-us-uplayer.png);
  background-size: cover;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 0px 0px;
}

.managmet-sec-wrap.about-us {
  padding-top: 0px;
}

/* product-list section */
ul.product-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

ul.product-listing li {
  flex: 1;
}

.product-card {
  border: 1px solid var(--lightwhitbg);
  background: var(--whitecolor);
  border-radius: 25px;
  padding: 30px 50px;
  width: 100%;
  height: 100%;
}

.product-list-icon {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  background: #ECFAFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 29px;
  margin: auto;
}
ul.product-listing li:first-child .product-list-icon{
  background: #FFECEC;
}
ul.product-listing li:nth-child(2) .product-list-icon{
  background: #ECFAFF;
}
ul.product-listing li:nth-child(3) .product-list-icon{
  background: #F2ECFF;
}
ul.product-listing li:nth-child(4) .product-list-icon{
  background: #D7FFD9;
}
ul.product-listing li:nth-child(5) .product-list-icon{
  background: #FFECFD ;
}
