/* contact page */
.addres-portion-wrap {
    margin-right: 40px;
}
.address-portion {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 55px;
}
.addres-portion-wrap .address-portion:last-child{
    margin-bottom: 0px;
}
.address-icon {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 61px;
    height: 61px;
    flex-shrink: 0;
    padding: 18px;
}
.contact-form {
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.input-wrap .sub-text{
    line-height: 18px;
    margin-bottom: 5px;   
    display: block;
}
.input-wrap{
    margin-bottom: 30px;
}
.input-wrap:last-child{
    margin-bottom: 0px;
}