@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Thin.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Thin.woff');?>") format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-ThinItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-ThinItalic.woff');?>") format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraLight.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraLight.woff');?>") format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Black.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Black.woff');?>") format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraBold.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraBold.woff');?>") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-BlackItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-BlackItalic.woff');?>") format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff');?>") format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Italic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Italic.woff');?>") format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff');?>") format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Bold.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Bold.woff');?>") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-BoldItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-BoldItalic.woff');?>") format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff');?>") format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-ThinItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-ThinItalic.woff');?>") format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-SemiBold.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-SemiBold.woff');?>") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Medium.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Medium.woff');?>") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Light.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Light.woff');?>") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Regular.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Regular.woff');?>") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-LightItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-LightItalic.woff');?>") format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-Thin.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-Thin.woff');?>") format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src:  url("<?php echo base_url('../fonts/Montserrat/Montserrat-MediumItalic.woff2');?>") format('woff2'),
       url("<?php echo base_url('../fonts/Montserrat/Montserrat-MediumItalic.woff');?>") format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


/* gloable css */
:root {
  --skyblue: #F3FBFF;
  --activecolor: #164E72;
  --greencolor: #77B942;
  --bluecolor: #154E72;
  --subtitle: #585858;
  --navlink: #D9D9D9;
  --whitecolor: #FFFFFF;
  --textcolor: #7C7A7A;
  --bordercolor: #D4D4D4;
  --lightwhitbg: #F0F0F0;
  --btnbg: linear-gradient(90deg, #18B9D1 3.5%, #7FBC41 100%);
}
body {
  font-family: 'Montserrat', sans-serif;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -o-animation: fadein 3s;
  text-rendering: auto;
  scroll-behavior: smooth;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page-wrap {
  min-height: 60vh;
  padding: 92px 0px;

}
* {
  margin: 0;
  padding: 0;
}
div.error {
  text-align: start;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}
p {
  margin-bottom: 0px;
}
ol,
ul {
  padding-left: 0rem;
  margin-bottom: 0px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}
/* margin-top class */
.mt-15 {
  margin-top: 15px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-130 {
  margin-top: 130px;
}
.pt-130 {
  padding-top: 130px;
}
.pb-130 {
  padding-bottom: 130px;
}
.py-130 {
  padding: 130px 0px;
}
.my-130 {
  margin: 130px 0px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  border-radius: 5px;
}
.btn:focus,
.btn:hover,
.form-check-input:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
  background-color: unset;
}
.form-select:focus {
  box-shadow: unset;
  outline: none;
}
/* common-btn---- */
.common-btn {
  background: var(--btnbg);
  border: unset;
  color: var(--whitecolor);
  margin-right: auto;
  width: 152px;
  height: 45px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  position: relative;
}
/*------- for cover & contain-img------------ */
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ----------common-text------ */
.common-title {
  color: var(--activecolor);
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
}
.sub-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: var(--subtitle);
}
.nav-link,
.navbar-btn-grup .btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: var(--textcolor);
  padding: 0px;
  transition: 0.5s;
}
.nav-link:hover,
.nav-link.active,
.nav-link:focus {
  transition: 0.5s;
  color: var(--greencolor);
}
.common-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: var(--darkgray);
}
.sub-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: var(--textcolor);
}
.sub-mutual-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  background: var(--btnbg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  margin-bottom: 10px;
}
.span-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--textcolor);
}
.p-paragraph {
  text-align: center;
  margin: 15px 100px 0px 100px;
}
/* overlay-content */
.overlay-shade {
  position: relative;
}
.overlay-shade::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000ba;
  z-index: 1;
}
/* breadcrumb */
.breadcrumb.top{
  background: var(--btnbg);
  padding: 10px 27px;
  border-radius: 5px;
  width: fit-content;
}
.breadcrumb.top .span-title{
  color: var(--whitecolor);
}
/* -------------common-input----------------- */
.form-control:focus {
  background-color: #fff;
  border-color: unset;
  outline: none;
  box-shadow: none;
}
/* input  */
.common-input input,
.common-input .form-control,
.common-input select,
.common-input .form-select,
.common-input textarea,
.common-input .dropdown-toggle,
.common-input .select2-container--default .select2-selection--single {
  background-color: var(--whitecolor);
  border: 0.5px solid var(--bordercolor);
  color: var(--lightgray);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: unset;
  width: 100%;
}
.common-input input:hover,
.common-input input:focus,
.common-input .form-control:hover,
.common-input .form-control:focus .common-input select:hover,
.common-input select:focus,
.common-input .form-select:hover,
.common-input .form-select:focus,
.common-input textarea:hover,
.common-input textarea:focus,
.common-input .dropdown-toggle:hover,
.common-input .dropdown-toggle:focus,
.common-input .select2-container--default .select2-selection--single:hover,
.common-input .select2-container--default .select2-selection--single:focus {
  background-color: var(--whitecolor);
  border: 0.5px solid var(--bordercolor);
  color: var(--lightgray);
}
.custom-check {
  width: 20px;
  height: 20px;
  accent-color: var(--blackcolor);
}
/* button-css */
.icon.btn {
  gap: 10px
}
/* navbar css */
header {
  position: fixed;
  width: 100%;
  z-index: 909;
  top: 34px;
  transition: 0.5s;
}
header.fixed-header {
  top: 0px;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 8px 2px rgba(168, 161, 161, 0.25);
}
header.fixed-header .navbar {
  box-shadow: unset;
  transition: 0.5s;
}
.navbar-brand.logo {
  background-color: transparent;
  transition: 0.5s;
}
header .navbar {
  display: flex;
  align-items: center;
  padding: 0px;
  box-shadow: 0px 0px 8px 2px rgba(168, 161, 161, 0.25);
  border-radius: 5px;
  padding: 18px;
  background: #fff;
  transition: 0.5s;
}
.navbar-brand {
  padding: 0px;
  border-radius: 0px 0px 20px 20px;
}
.navbar-brand .brand-logo {
  display: block;
  width: 196px;
  height: 58px;
}
.navbar-menu,
.navbar-btn-grup,
.nav-mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.navbar-btn-grup .btn {
  width: 152px;
  height: 45px;
  padding: 10px;
}
.book-btn.btn {
  background-color: var(--greencolor);
  border: 1px solid var(--greencolor);
  color: var(--whitecolor);
}
.book-btn.btn:hover {
  background-color: var(--whitecolor);
  color: var(--greencolor);
}
/* navbar-toggle */
.btn.navbar-toggle {
  padding: 5px;
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 5px;
  position: relative;
}
.mobile-toggle {
  display: none;
}
.navbar-toggle .line-toggle {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--navlink);
  border-radius: 133px;
  transition: all .6s;
}
.navbar-toggle .line-toggle:hover {
  border: 2px solid var(--navlink);
}
.line-toggle:first-child {
  transform: translateY(-8px) translateX(0px);
}
.navbar-toggle .line-toggle:last-child {
  transform: translateY(8px) translateX(0px);
}
.navbar-toggle.dropdown-toggle::after {
  display: none;
}
.cancel-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  background: white;
  border-radius: 5px;
}
.cancel-btn button {
  padding: 5px;
}
.mobile-toggle .offcanvas {
  background-color: var(--activecolor);
}
.mobile-toggle .offcanvas-end {
  width: 280px;
}
/* banner css  */
.home-banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  height: 865px;
  padding-top: 128px;
  overflow: hidden;
  position: relative;
}
.home-banner-content::after,
.service-inner::after {
  content: ' ';
  background-image: url(assets/front/images/ellipse.png);
  width: 700px;
  background-repeat: no-repeat;
  height: 700px;
  position: absolute;
  top: -91%;
  background-color: transparent;
  left: -37%;
  border-radius: 50%;
  border: 162px solid #e6f7ff;
  z-index: 0;
}
.service-inner::after {
  top: -48%;
  left: -36%;
}
.home-banner-content::before,
.service-inner::before {
  content: ' ';
  background-image: url(assets/front/images/ellipse.png);
  width: 987px;
  background-repeat: no-repeat;
  height: 987px;
  position: absolute;
  top: -16%;
  background-color: transparent;
  right: -46%;
  border-radius: 50%;
  border: 162px solid #e6f7ff;
  z-index: 0;
}
.service-inner::before {
  top: 49%;
  right: -60%;
}
.banner-content {
  text-align: center;
  padding: 120px 100px;
  position: relative;
  z-index: 1;
}
.home-banner-content {
  display: flex;
  position: relative;
  z-index: 1;
}
.home-banner-content .left-content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 47%;
  margin-top: 10px;
  z-index: 9;
  position: relative;
}
.banner-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: var(--bluecolor);
}

.main.btn {
  border: unset;
  background: var(--btnbg);
  color: var(--whitecolor);
  margin-right: auto;
  width: 329px;
  height: 74px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  position: relative;
  transition: 0.5s;
  border-radius: 5px;
  z-index: 9;
  overflow: hidden;
}
.main.btn:hover {
  transition: 0.5s;
}
.main.btn::after {
  content: " ";
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
  transition: 0.5s;
  z-index: -1;
}
.main.btn:hover:after {
  width: 100%;
  height: 100%;
  background: linear-gradient(320deg, #18B9D1 3.5%, #7FBC41 100%);
  transition: 0.5s;
}
.banner-img {
  height: 680px;
  width: 800px;
  position: relative;
  z-index: 9;
}
.managmet-sec-left .common-title {
  color: var(--bluecolor);
  text-align: start;
  margin-right: 36px
}
.managmet-sec-right .sub-text {
  margin-bottom: 15px;
  text-align: justify;
}
.list-card .sub-title {
  margin-bottom: 15px;
  margin-top: 30px;
}
.managmet-sec-right .sub-text:last-child {
  margin-bottom: 0px;
}
.mange-sec-img {
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
}
.mange-sec-img img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.why-us-content-list {
  display: flex;
  gap: 74px;
  flex-wrap: wrap;
}
.why-us-content-list .list-card {
  padding: 40px;
  max-width: 29%;
  transition: 0.4s;
  border-radius: 5px;
  flex: 0 0 auto;
  text-align: center;
}
.why-us-content-list .list-card:hover,
.why-us-content-list .list-card.active {
  transition: 0.4s;
  box-shadow: 9px 13px 29px 7px rgba(0, 0, 0, 0.05);
}
.why-us-content-list .list-card .icon-wrap {
  height: 76px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 15px 10px;
  margin: auto;
}
.why-us-content-list .list-card:first-child .icon-wrap {
  background: #FFECEC;
}
.why-us-content-list .list-card:nth-child(2n) .icon-wrap {
  background: #ECFAFF;
}
.why-us-content-list .list-card:nth-child(3n) .icon-wrap {
  background: #F2ECFF;
}
.why-us-content-list .list-card:nth-child(4n) .icon-wrap {
  background: #D7FFD9;
}
.why-us-content-list .list-card:nth-child(5n) .icon-wrap {
  background: #FFECFD;
}
.why-us-content-list .list-card:nth-child(6n) .icon-wrap {
  background: #FFF4EC;
}
.why-us-content-list .list-card .sub-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
/* core-feature sec */
.feature-sec {
  background: var(--skyblue);
  padding: 55px 0px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.feature-content {
  margin: 0px 20px;
  position: relative;
  flex: 1;
}
.feature-list .feature-content:nth-child(2n+1)::after,
.service-list .service-list-card:nth-child(2n+1)::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  height: 100%;
  right: -70px;
  background: var(--navlink);
}
.feature-content-img {
  width: 445px;
  height: 225px;
  border-radius:  25px;
  overflow: hidden;
  margin-bottom: 60px;
}
.feature-content .sub-title,
.feature-content-2 .sub-title {
  margin-bottom: 40px;
}
.list-inform {
  position: relative;
}
.list-inform li {
  font-size: 15px;
  line-height: 40px;
  font-weight: 600;
  color: var(--textcolor);
  display: flex;
  align-items: flex-start;
}
.list-inform li::before {
  content: "\f00c";
  width: 17px;
  border-radius: 50%;
  background-color: #94C63A;
  color: var(--whitecolor);
  font-family: "font awesome 5 pro";
  font-size: 9px;
  display: flex;
  line-height: 21px;
  height: 17px;
  align-items: center;
  justify-content: center;
  margin: 11px 15px 0px 0px;
  flex-shrink: 0;
}
.list-inform {
  margin-bottom: 50px;
}
/* feature-list-2 */
.feature-list-2 .feature-content-img {
  width: 560px;
  height: 460px;
  margin-bottom: 0px;
}
.feature-content-2 {
  display: flex;
  gap: 135px;
  align-items: center;
}
.feature-list-2 {
  display: flex;
  gap: 130px;
  flex-direction: column;
}
.feature-content-2:nth-child(2n) {
  flex-direction: row-reverse;
  justify-content: space-between;
}
/* our-services sec */
.our-services-wrap {
  position: relative;
  overflow: hidden;
}
.service-inner {
  position: relative;
}
.our-services {
  padding-top: 55px;
  background-color: var(--skyblue);
}
.our-services .sub-mutual-text,
.our-services .common-title,
.service-list-card .sub-text,
.service-list-card .sub-title {
  text-align: center;
}
.service-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  z-index: 9;
}
.sevice-icon {
  width: 76px;
  height: 76px;
  border: 1px solid var(--whitecolor);
  padding: 20px;
  margin-bottom: 30px;
  background: var(--whitecolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.service-list-card .sub-title {
  margin-bottom: 20px;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.service-list .service-list-card:nth-child(2n+1)::after {
  right: -60px;
  color: var(--textcolor);
}
.service-img-gallary {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.service-img {
  flex: 0 0 auto;
  width: 23%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: -132px;
  height: 395px;
  z-index: 9;
}
.mutual-right .common-title {
  text-align: start;
}
.mutual-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.mutual-fund-img {
  height: 700px;
}


/* dow-app */

.banner-right-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 23px;
}
.dow-app-text .common-title {
  text-align: start;
}
.dow-btn-grup {
  display: flex;
  gap: 15px;
}
.dow-sec-inner {
  background: #F3FBFF;
  border-radius: 25px;
  padding: 30px 80px 30px;
  position: relative;
}
.banner-right-img {
  margin-top: -130px;
}
.banner-right-img .right-img-1 {
  width: 182px;
  height: 366px;
}
.banner-right-img .right-img-2 {
  width: 201px;
  height: 398px;
}
.dow-app-section .dow-app-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 9;
}
/* dow-app sec end */

/* footer css */
footer {
  padding: 0px 0px 70px 0px;
  color: #fff;
}
.footer-logo {
  width: 234px;
  height: 69px;
  margin-bottom: 22px;
}
.footer-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--bluecolor);
  margin-bottom: 15px;
}
.footer-iteam-text,
footer .span-text ,
.span-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  color: var(--textcolor);
  transition: 0.5s;
}
.footer-iteam-text:hover {
  color: var(--greencolor);
  transition: 0.5s;
  transform: translateX(10px)scale(1.1);
}
.footer-info {
  display: flex;
  gap: 36px;
  flex-direction: column;
}
.span-text.copy {
  color: var(--textcolor);
  position: relative;
  margin-top: 45px;
  display: block;
  overflow: hidden;
}
.span-text.copy::after {
  content: " ";
  height: 1px;
  width: 100%;
  background: var(--textcolor);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}
.get-in-touch {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}
.follow-icon {
  width: 32px;
  height: 32px;
}
.follow-icon:hover img {
  filter: grayscale(0.5);
}
/* footer end */

/* .aboutus page css */
.about-us.home-banner-content .left-content{
 width: 55%;
 gap: 20px;
}
.about-us.home-banner-content .left-content .common-title{
  text-align: start;
}
.about-us.home-banner-content  .banner-img{
  width: 600px;
  height: auto;
}
.home-banner.about {
  height: 670px;
}
.aboutus-banner {
  background-color: var(--activecolor);
  position: relative;
  background-size: cover;
}
.breadcum-wrp {
  display: flex;
  height: 550px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 9;
}
.breadcum-wrp .breadcrumb {
  margin-bottom: 0px;
  padding: 18px 30px;
  background: #164e727d;
  display: inline-flex;
  margin-bottom: 5px;
}
.breadcum-wrp .breadcrumb .breadcrumb-item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: var(--navlink);
}
.breadcrumb-item+.breadcrumb-item::before {
  color: var(--navlink);
}
.aboutus-banner::after {
  content: " ";
  background-image: url(/images/about-us-uplayer.png);
  background-size: cover;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 0px 0px;
}
.managmet-sec-wrap.about-us {
  padding-top: 0px;
}
/* product-list section */
ul.product-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
ul.product-listing li {
  flex: 1;
}
.product-card {
  border: 1px solid var(--lightwhitbg);
  background: var(--whitecolor);
  border-radius: 25px;
  padding: 30px 50px;
  width: 100%;
  height: 100%;
}
.product-list-icon {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  background: #ECFAFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 29px;
  margin: auto;
}
.product-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--subtitle);
  margin-top: 20px;
  text-align: center;
}
/* term and privecy */
a.link {
  color: var(--bluecolor);
}
.list-of-terms li {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
}
.tems .count {
  flex-shrink: 0;
  width: 25px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  border-radius: 50%;
  background-color: var(--textcolor);
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: var(--whitecolor);
}
.tems .count,
.tems .sub-text,
.tems-section-wrap p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
}
hr.terms {
  margin: 65px 0px;
  color: var(--navlink);
}
.list-of-payment-term {
  padding-left: 20px;
}
.list-of-payment-term li {
  margin-bottom: 20px;
  list-style-type: disc;
  list-style: disc;
}
.list-of-payment-term li::marker {
  color: var(--subtitle);
}
.feature-sec,
.managmet-sec-wrap,
.mutual-funds {
  overflow: hidden;
}
