/* footer css */
footer {
    padding: 0px 0px 70px 0px;
    color: #fff;
  }
  .footer-logo {
    width: 234px;
    height: 69px;
    margin-bottom: 22px;
  }
  .footer-iteam-text{
    position: relative;
  }
  .footer-iteam-text::before{
    content: "\f054";
    font-family: "font awesome 5 pro";
    color: #154E72 ;
    font-size: 15px;
    transform: translateX(0px);
    opacity: 0; 
    margin-left: -10px;
   transition: 0.5s;
  } 
  .footer-iteam-text:hover::before{
    opacity: 1;
    display: inline-flex;
    transition: 0.5s;
    transform: translateX(-5px);
  }
  .footer-iteam-text:hover {
    color: var(--greencolor);
    transition: 0.5s;
    transform: translateX(5px);
    margin-left: 0px;
  }
  .footer-info {
    display: flex;
    gap: 36px;
    flex-direction: column;
  }
  .span-text.copy {
    color: var(--textcolor);
    position: relative;
    margin-top: 45px;
    display: block;
    overflow: hidden;
  }
  .span-text.copy::after {
    content: " ";
    height: 1px;
    width: 100%;
    background: var(--textcolor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
  }
  .get-in-touch {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
  }
  .follow-icon {
    width: 32px;
    height: 32px;
  }
  .follow-icon:hover img {
    filter: grayscale(0.5);
  }
  /* footer end */