:root {
  --skyblue: #F3FBFF;
  --activecolor: #164E72;
  --greencolor: #77B942;
  --bluecolor: #154E72;
  --subtitle: #585858;
  --navlink: #D9D9D9;
  --whitecolor: #FFFFFF;
  --textcolor: #7C7A7A;
  --bordercolor: #D4D4D4;
  --lightwhitbg: #F0F0F0;
  --btnbg: linear-gradient(90deg, #18B9D1 3.5%, #7FBC41 100%);
}
/* navbar css */
header {
    position: fixed;
    width: 100%;
    z-index: 909;
    top: 34px;
    transition: 0.5s;
  }
  header.fixed-header {
    top: 0px;
    transition: 0.5s;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 8px 2px rgba(168, 161, 161, 0.25);
  }
  header.fixed-header .navbar {
    box-shadow: unset;
    transition: 0.5s;
  }
  .navbar-brand.logo {
    background-color: transparent;
    transition: 0.5s;
  }
  header .navbar {
    display: flex;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 0px 8px 2px rgba(168, 161, 161, 0.25);
    border-radius: 5px;
    padding: 18px;
    background: #fff;
    transition: 0.5s;
  }
  .navbar-brand {
    padding: 0px;
  }
  .navbar-brand .brand-logo {
    display: block;
    width: 196px;
    height: 58px;
  }
  .navbar-menu,
  .navbar-btn-grup,
  .nav-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .navbar-btn-grup .btn {
    width: 152px;
    height: 45px;
    padding: 10px;
  }
  .navbar-btn-grup .book-btn.btn {
    background-color: var(--greencolor);
    border: 1px solid var(--greencolor);
    color: var(--whitecolor);
  }
  .book-btn.btn:hover {
    background-color: var(--whitecolor);
    color: var(--greencolor);
  }
  /* navbar-toggle */
  .btn.navbar-toggle {
    padding: 5px;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
  }
  .mobile-toggle {
    display: none;
  }
  .navbar-toggle .line-toggle {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--navlink);
    border-radius: 133px;
    transition: all .6s;
  }
  .navbar-toggle .line-toggle:hover {
    border: 2px solid var(--navlink);
  }
  .line-toggle:first-child {
    transform: translateY(-8px) translateX(0px);
  }
  .navbar-toggle .line-toggle:last-child {
    transform: translateY(8px) translateX(0px);
  }
  .navbar-toggle.dropdown-toggle::after {
    display: none;
  }
  .cancel-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    background: white;
    border-radius: 5px;
  }
  .cancel-btn button {
    padding: 5px;
  }
  .mobile-toggle .offcanvas {
    background-color: #164E72;
  }
  .mobile-toggle .offcanvas-end {
    width: 280px;
  }