@media only screen and (max-width: 4000px) {}

@media only screen and (max-width: 2560px) {}

@media only screen and (max-width: 1920px) {}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1374px;
    }
}

@media only screen and (max-width: 1600px) {

    /*---------------------------------------- global css------------------------------------ */
    footer, .page-wrap{
        padding: 0px 0px 80px 0px;
    }
    .mt-35 {
        margin-top: 30px;
    }
    .mt-40 {
        margin-top: 30px;
    }
    .mt-50 {
        margin-top: 40px;
    }
    .mt-60 {
        margin-top: 50px;
    }
    .mt-70 {
        margin-top: 60px;
    }
    .mt-80 {
        margin-top: 70px;
    }
    .mt-130 {
        margin-top: 80px;
    }
    .pt-130 {
        padding-top: 80px;
    }
    .pb-130 {
        padding-bottom: 80px;
    }
    .py-130 {
        padding: 80px 0px;
    }
    .my-130 {
        margin: 80px 0px;
    }
    .why-us-content-list {
        gap: 50px;
    }
    .why-us-content-list .list-card {
        padding: 30px;
    }
    .why-us-content-list .list-card .icon-wrap {
        height: 65px;
        width: 65px;
    }
    .footer-iteam-text,
    .footer-info .span-text {
        font-size: 14px;
    }
    .common-title {
        font-size: 30px;
        line-height: 35px;
    }
    .sub-title, .sub-mutual-text {
        font-size: 22px;
        line-height: 28px;
    }

    /*---------------------------------------- header------------------------------------ */
    .navbar-brand .brand-logo {
        width: 220px;
        height: 50px;
    }
    .navbar-menu,
    .navbar-btn-grup,
    .nav-mid {
        gap: 30px;
    }
    header .navbar{
        padding: 13px;
    }
    /*---------------------------------------- footer------------------------------------ */
    .footer-info {
        gap: 30px;
    }

    /*---------------------------------------- home-page------------------------------------ */
    .home-banner-content{
        margin-top: 90px;
    }
    .home-banner-content .left-content {
        gap: 40px;
    }
    .banner-img {
        height: auto;
        width: 667px;
    }
    .home-banner-content::before {
        top: 3%;
        right: -48%;
    }
    .home-banner {
        padding-top: 96px;
        height: auto;
    }
    .banner-title {
        font-size: 45px;
        line-height: 60px;
    }
    .feature-content-img {
        width: 400px;
        margin-bottom: 40px;
    }
    .list-inform {
        margin-bottom: 40px;
    }
    .feature-content {
        padding: 0px 50px;
    }
    .feature-content-2 {
        gap: 80px;
    }
    .service-img {
        height: 340px;
    }
    .mutual-fund-img {
        height: 630px;
    }
    .service-list-card {
        padding: 0px 50px;
    }

    /*---------------------------------------- about-us-page------------------------------------ */
    .product-card {
        padding: 30px;
    }
    .product-list-name {
        font-size: 15px;
    }
    .about-us.home-banner-content .left-content {
        width: 42%;
    }
    .home-banner.about {
        height: auto;
    }    

    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    hr.terms {
        margin: 50px 0px;
    }

    /*---------------------------------------- privecy policy------------------------------------ */
}

@media only screen and (max-width: 1399px) {

    /*---------------------------------------- global css------------------------------------ */
    .sub-text {
        font-size: 13px;
        line-height: 20px;
    }
    .span-text {
        font-size: 15px;
        line-height: 21px;
    }
    .home-banner-content::after, .service-inner::after, .terms-condition-wrap::after, .feature-sec::after ,
     .home-banner-content::before, .service-inner::before, .terms-condition-wrap::before, .feature-sec::before{
        width: 500px;
        height: 500px;
    }

    /*---------------------------------------- header------------------------------------ */
    /*---------------------------------------- footer------------------------------------ */
    .footer-logo {
        width: 200px;
        height: 51px;
    }
    .span-text.copy {
        margin-top: 30px;
    }

    /*---------------------------------------- home-page------------------------------------ */
    .home-banner-content .left-content {
        gap: 40px;
    }
    .banner-img {
        width: 550px;
    }
    .home-banner-content .left-content {
        gap: 30px;
    }
    .why-us-content-list .list-card {
        padding: 25px;
    }
    .service-img {
        height: 260px;
    }
    .mutual-fund-img {
        height: 580px;
    }
    .banner-right-img .right-img-1 {
        width: 130px;
        height: auto;
    }
    .feature-list-2 .feature-content-img {
        width: 500px;
        height: 400px;
    }
    .banner-right-img .right-img-2 {
        width: 175px;
        height: auto;
    }
    .list-card .sub-title {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .dow-sec-inner {
        padding: 30px 50px 30px;
    }
    .feature-content-img {
        width: 100%;
    }
    .main.btn {
        width: 300px;
        height: 60px;
        font-size: 21px;
    }
    .service-list-card {
        padding: 0px 30px;
    }
    .feature-list-2{
        gap: 80px;
    }
    /*---------------------------------------- about-us------------------------------------ */
    .about-us.home-banner-content .banner-img {
        width: 550px;
    }
  
    
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */

}

@media only screen and (max-width: 1199px) {

    /*---------------------------------------- global css------------------------------------ */
    .banner-title {
        font-size: 36px;
        line-height: 47px;
    }
    .sub-title {
        font-size: 18px;
        line-height: 25px;
    }
    .page-wrap , footer{
        padding: 0px 0px 60px 0px;
    }
    .mt-130 {
        margin-top: 70px;
    }
    .pt-130 {
        padding-top: 70px;
    }
    .pb-130 {
        padding-bottom: 70px;
    }
    .py-130 {
        padding: 70px 0px;
    }
    .my-130 {
        margin: 70px 0px;
    }

    /*---------------------------------------- header------------------------------------ */

    /*---------------------------------------- footer------------------------------------ */
    /*---------------------------------------- home-page------------------------------------ */
    .why-us-content-list {
        gap: 40px;
    }
    .why-us-content-list .list-card {
        padding: 18px;
    }
    .feature-content .sub-title, .feature-content-2 .sub-title {
        margin-bottom: 20px;
    }
    .list-inform li {
        line-height: 30px;
        font-size: 13px;
    }
    .feature-list-2{
        gap: 50px;
    }
    /*---------------------------------------- about-us------------------------------------ */

    ul.product-listing li {
        width: 30%;
        flex: 0 0 auto;
    }

    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */
}

@media only screen and (max-width: 1024px) {

    /*---------------------------------------- global css------------------------------------ */

    .mt-35 {
        margin-top: 20px;
    }
    .mt-40 {
        margin-top: 20px;
    }
    .mt-50 {
        margin-top: 25px;
    }
    .mt-60 {
        margin-top: 30px;
    }
    .mt-70 {
        margin-top: 40px;
    }
    .mt-80 {
        margin-top: 50px;
    }
    .mt-130 {
        margin-top: 60px;
    }
    .pt-130 {
        padding-top: 60px;
    }
    .pb-130 {
        padding-bottom: 60px;
    }
    .py-130 {
        padding: 60px 0px;
    }
    .my-130 {
        margin: 60px 0px;
    }

    /*---------------------------------------- header------------------------------------ */
    .navbar-btn-grup .btn {
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
    /*---------------------------------------- footer------------------------------------ */
    /*---------------------------------------- home-page------------------------------------ */

    .feature-list .feature-content:nth-child(2n+1), .service-list .service-list-card:nth-child(2n+1) {
        border-right: unset;
    }
    .feature-list .feature-content:nth-child(2n){
        flex-direction: row-reverse;
    }
    .feature-list-2 , .service-list , .feature-list{
        gap: 40px;
    }
    .feature-content ,.feature-content-2{
        width: 100%;
        display: flex;
        gap: 50px;
        padding: 0px;
    }
    .feature-content-img  , .feature-list-2 .feature-content-img{
        width: 400px;
        height: 300px;
        flex-shrink: 0;
    }
    .feature-list,
    .service-list {
        flex-direction: column;
    }
    .service-list-card .sub-title {
        margin-bottom: 10px;
    }
    .list-inform {
        margin-bottom: 30px;
    }
    /*---------------------------------------- about-us------------------------------------ */
    .about-us.home-banner-content .left-content {
        width: 45%;
    }
    .product-list-icon {
        width: 100px;
        height: 100px;
        padding: 20px;
    }
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */

}

@media only screen and (max-width: 991px) {

    /*---------------------------------------- global css------------------------------------ */
    .home-banner-content::after, .service-inner::after, .terms-condition-wrap::after, .feature-sec::after ,
    .home-banner-content::before, .service-inner::before, .terms-condition-wrap::before, .feature-sec::before{
       width: 400px;
       height: 400px;
   }
    .page-wrap , footer{
        padding: 0px 0px 50px 0px;
    }
    .common-title {
        font-size: 24px;
        line-height: 30px;
    }
    /*---------------------------------------- header------------------------------------ */
    .navbar-brand .brand-logo {
        width: 130px;
    }
    .mobile-toggle {
        display: inline-flex;
    }
    .nav-mid {
        display: none;
    }
    .offcanvash-list,
    .navbar-menu,
    .navbar-btn-grup {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
    }
    .navbar-menu {
        gap: 0px;
    }
    .navbar-menu li {
        width: 100%;
    }
    .offcanvash-list .nav-link {
        padding: 15px;
        color: #fff;
    }
    .offcanvash-list .nav-link:hover,     .offcanvash-list .nav-link.active,     .offcanvash-list .nav-link:focus{
        color: #77b942;
    }
    .feature-content-img, .feature-list-2 .feature-content-img {
        width: 350px;
        margin-bottom: 0px;
    }
    /*---------------------------------------- footer------------------------------------ */

    /*---------------------------------------- home-page------------------------------------ */
    .service-inner::after{
        z-index: -1;
    }
    .home-banner-content{
        flex-direction: column-reverse;
    }
    .home-banner-content .left-content{
        width: 100%;
        gap: 15px;
    }
    .banner-img{
        margin: auto;
        width: 450px;
    }
    .sevice-icon {
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .home-banner-content{
        margin-top: 60px;
    }
    .our-services{
        padding-top: 40px;
    }
    .dow-app-section {
        margin-top: 130px;
    }
    .banner-right-img {
        margin-top: -100px;
    }
    .dow-sec-inner {
        padding: 30px ;
    }
    .mutual-fund-img {
        height: 400px;
    }
    .why-us-content-list .list-card {
        max-width: 47%;
    }
    .why-us-content-list {
        gap: 25px;
    }
    .banner-title {
        font-size: 30px;
        line-height: 40px;
    }
    .service-img {
        width: 22%;
        height: 200px;
    }
    .dow-btn-grup .dow-btn {
        width: 120px;
    }

    /*---------------------------------------- about-us------------------------------------ */
    .about-us.home-banner-content .left-content {
        width: 100%;
    }
    .about-us.home-banner-content .banner-img {
        width: 450px;
    }
    .managmet-sec-wrap.about-us {
        padding-top: 60px;
    }
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    .tems .count {
        width: 22px;
        height: 22px;
    }

    /*---------------------------------------- privecy policy------------------------------------ */

}

@media only screen and (max-width: 767px) {

    /*---------------------------------------- global css------------------------------------ */
    /*---------------------------------------- header------------------------------------ */
    /*---------------------------------------- footer------------------------------------ */
    /*---------------------------------------- about-us------------------------------------ */
    ul.product-listing li {
        width: 47%;
    }
    .feature-sec::after {
        bottom: -10%;
        top: unset;
        left: -16%;
    }
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */
    /*---------------------------------------- home-page------------------------------------ */
    .dow-app-section {
        margin-top: 50px;
    }
    .banner-right-img {
        margin-top: -12px;
    }
    .feature-list .feature-content:nth-child(2n) , .feature-list .feature-content , .feature-content, .feature-content-2 , .feature-content-2:nth-child(2n){
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    
    .service-img{
        width: 47%;
        margin-bottom: 0px;
    }

 
}

@media only screen and (max-width: 575px) {
    /*---------------------------------------- global css------------------------------------ */

    /*---------------------------------------- header------------------------------------ */
    /*---------------------------------------- footer------------------------------------ */
    .follow-icon {
        width: 27px;
        height: 27px;
    }
    /*---------------------------------------- about-us------------------------------------ */
    .product-card {
        padding: 25px;
    }
   
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */
    /*---------------------------------------- home-page------------------------------------ */
    .banner-img , .feature-content-img, .feature-list-2 .feature-content-img , .about-us.home-banner-content .banner-img {
        width: 100%;
        margin: 0px 20px;
    }
    .navbar-brand .brand-logo {
        width: 100px;
    }
    .home-banner {
        padding-top: 50px;
    }
    .main.btn {
        width: 294px;
    }
    .breadcum-wrp {
        height: 280px;
    }
    .span-text.copy::after {
        background: transparent;
    }
    .our-services.my-130 {
        margin: 60px 0px 0px 0px;
    }
    .service-img {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
    .banner-right-img .right-img-2 {
        width: 130px;
    }
    .banner-right-img .right-img-1 {
        width: 100px;
    }
    .banner-right-img {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 480px) {

    /*---------------------------------------- global css------------------------------------ */
    /*---------------------------------------- header------------------------------------ */
    /*---------------------------------------- footer------------------------------------ */
    /*---------------------------------------- about-us------------------------------------ */
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */
    /*---------------------------------------- home-page------------------------------------ */
    .why-us-content-list .list-card {
        max-width: 100%;
    }

    ul.product-listing li {
        width: 100%;
    }
    .footer-iteam-text,
    .span-text {
        line-height: 23px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 375px) {
    /*---------------------------------------- global css------------------------------------ */
    /*---------------------------------------- header------------------------------------ */
    /*---------------------------------------- footer------------------------------------ */
    /*---------------------------------------- about-us------------------------------------ */
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */
    /*---------------------------------------- home-page------------------------------------ */
}

@media only screen and (max-width: 360px) {

    /*---------------------------------------- global css------------------------------------ */
    /*---------------------------------------- header------------------------------------ */
    /*---------------------------------------- footer------------------------------------ */
    /*---------------------------------------- about-us------------------------------------ */
    /*---------------------------------------- contatt-us------------------------------------ */
    /*---------------------------------------- terms------------------------------------ */
    /*---------------------------------------- privecy policy------------------------------------ */
    /*---------------------------------------- home-page------------------------------------ */
    .main.btn {
        width: auto;
    }
}