@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf'),
  url('/assets/fonts/Montserrat-Regular.woff2'),
      url('/assets/fonts/Montserrat-Regular.woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/assets/fonts/Montserrat-Light.ttf'),
  url('/assets/fonts/Montserrat-Light.woff2'),
      url('/assets/fonts/Montserrat-Light.woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/assets/fonts/Montserrat-Medium.ttf'),
  url('/assets/fonts/Montserrat-Medium.woff2'),
      url('/assets/fonts/Montserrat-Medium.woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf'),
  url('/assets/fonts/Montserrat-SemiBold.woff2'),
      url('/assets/fonts/Montserrat-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/fonts/Montserrat-Bold.ttf'),
  url('/assets/fonts/Montserrat-Bold.woff2'),
      url('/assets/fonts/Montserrat-Bold.woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('/assets/fonts/Montserrat-ExtraBold.ttf'),
  url('/assets/fonts/Montserrat-ExtraBold.woff2'),
      url('/assets/fonts/Montserrat-ExtraBold.woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('/assets/fonts/Montserrat-Black.ttf'),
      url('/assets/fonts/Montserrat-Black.woff2'),
      url('/assets/fonts/Montserrat-Black.woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*{
  font-family: 'Montserrat';
}



/* gloable css */
:root {
  --skyblue: #F3FBFF;
  --activecolor: #164E72;
  --greencolor: #77B942;
  --bluecolor: #154E72;
  --subtitle: #585858;
  --navlink: #D9D9D9;
  --whitecolor: #FFFFFF;
  --textcolor: #7C7A7A;
  --bordercolor: #D4D4D4;
  --lightwhitbg: #F0F0F0;
  --btnbg: linear-gradient(90deg, #18B9D1 3.5%, #7FBC41 100%);
}

body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: auto;
  scroll-behavior: smooth;
}

.page-wrap {
  min-height: 60vh;
  padding: 0px 0px 92px 0px;
}

.page-wrap.terms {
  padding: 120px 0px 92px 0px;
}

* {
  margin: 0;
  padding: 0;
}

div.error {
  text-align: start;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

p {
  margin-bottom: 0px;
}

ol,
ul {
  padding-left: 0rem;
  margin-bottom: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}
/* margin-top class */
.mt-15 {
  margin-top: 15px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-130 {
  margin-top: 130px;
}
.pt-130 {
  padding-top: 130px;
}
.pb-130 {
  padding-bottom: 130px;
}
.py-130 {
  padding: 130px 0px;
}
.my-130 {
  margin: 130px 0px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  border-radius: 5px;
}

.btn:focus,
.btn:hover,
.form-check-input:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
  background-color: unset;
}

.form-select:focus {
  box-shadow: unset;
  outline: none;
}

/* common-btn---- */
.common-btn {
  background: var(--btnbg);
  border: unset;
  color: var(--whitecolor);
  margin-right: auto;
  width: 152px;
  height: 45px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  position: relative;
}

/*------- for cover & contain-img------------ */
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ----------common-text------ */
.common-title {
  color: #164E72;
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
}

.sub-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  color: var(--subtitle);
}

.nav-link,
.navbar-btn-grup .btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: var(--textcolor);
  padding: 0px;
  transition: 0.5s;
}

.nav-link:hover,
.nav-link.active,
.nav-link:focus {
  transition: 0.5s;
  color: var(--greencolor);
}

.common-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: var(--darkgray);
}

.sub-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: var(--textcolor);
}

.sub-mutual-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  background: linear-gradient(90deg,  #18B9D1  5.5%, #7FBC41  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.span-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--textcolor);
}

.footer-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--bluecolor);
  margin-bottom: 15px;
}

.footer-iteam-text,
footer .span-text,
.span-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  color: var(--textcolor);
  transition: 0.5s;
}

.product-list-name, .add-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--subtitle);
  margin-top: 20px;
  text-align: center;
}

.address-text .add-text {
  font-weight: 600;
  margin-top: 0px;
  color: var(--textcolor);
  text-align: start;
}
/* input  */
.input-wrap input,
.input-wrap .form-control,
.input-wrap select,
.input-wrap .form-select,
.input-wrap textarea,
.input-wrap .dropdown-toggle,
.input-wrap .select2-container--default .select2-selection--single {
    background-color: var(--whitecolor);
    border-bottom: 1px solid #7C7A7A !important;
    color: var(--textcolor);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    height: 45px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    border: unset;
    padding: 10px 10px;
}
.input-wrap .form-select{
  border-radius: 10px;
  border: 1px solid #7C7A7A !important;
}
/* overlay-content */
.overlay-shade {
  position: relative;
  
}

.overlay-shade::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000ba;
  z-index: 1;
}

/* breadcrumb */
.breadcrumb.top {
  background: var(--btnbg);
  padding: 10px 27px;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 0px;
}
.breadcrumb.top .span-title {
  color: var(--whitecolor);
}
.breadcrumb-item+.breadcrumb-item::before {
  color: var(--whitecolor);
}

/* -------------common-input----------------- */
.form-control:focus {
  background-color: #fff;
  border-color: unset;
  outline: none;
  box-shadow: none;
}

/* button-css */
.icon.btn {
  gap: 10px
}

/* banner css  */
.home-banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  height: 845px;
  padding-top: 128px;
  overflow: hidden;
  position: relative;
}

.home-banner-content::after,
.service-inner::after,
.terms-condition-wrap::after ,
.feature-sec::after {
  content: ' ';
  background-image: url('/assets/front/images/ellipse.png');
  width: 700px;
  background-repeat: no-repeat;
  height: 700px;
  position: absolute;
  top: -91%;
  left: -37%;
  background-size: contain;
  z-index: -1;
}

.service-inner::after {
  top: -48%;
  left: -36%;
  z-index: 0;
}
.feature-sec::after {
  top: -83%;
  left: -16%;
}
.terms-condition-wrap::after {
  top: -75%;
}
.terms-condition-wrap.privecy::after{
  top: -20%;
}
.home-banner-content::before,
.service-inner::before,
.terms-condition-wrap::before ,
.feature-sec::before {
  content: ' ';
  background-image: url('/assets/front/images/ellipse.png');
  width: 700px;
  background-repeat: no-repeat;
  height: 700px;
  position: absolute;
  top: 6%;
  right: -40%;
  background-size: contain;
  z-index: -1;
}
.feature-sec::before {
  top: 16%;
  right: -16%;
}
.service-inner::before {
  top: 30%;
  right: -42%;
  z-index: 0;
}
.terms-condition-wrap::before{
    top: -21%;
    right: -40%;
}

.terms-condition-wrap.privecy::before {
  top: -3%;
  right: -41%;
}
.banner-content {
  text-align: center;
  padding: 120px 100px;
  position: relative;
  z-index: 1;
}

.home-banner-content {
  display: flex;
  position: relative;
  z-index: 1;
  margin-top: 125px;
  justify-content: space-between;
}

.home-banner-content .left-content {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  width: 47%;
  margin-top: 10px;
  z-index: 9;
  position: relative;
}

/* banner-title */
/* why choose us section start  */
.why-us-content-list {
  display: flex;
  gap: 74px;
  flex-wrap: wrap;
}

.why-us-content-list .list-card {
  padding: 40px;
  max-width: 29%;
  transition: 0.4s;
  border-radius: 5px;
  flex: 0 0 auto;
  text-align: center;
}

.why-us-content-list .list-card:hover,
.why-us-content-list .list-card.active {
  transition: 0.4s;
  box-shadow: 9px 13px 29px 7px rgba(0, 0, 0, 0.05);
}

.why-us-content-list .list-card .icon-wrap {
  height: 76px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 15px 10px;
  margin: auto;
}

.why-us-content-list .list-card:first-child .icon-wrap {
  background: #FFECEC;
}

.why-us-content-list .list-card:nth-child(2n) .icon-wrap {
  background: #ECFAFF;
}

.why-us-content-list .list-card:nth-child(3n) .icon-wrap {
  background: #F2ECFF;
}

.why-us-content-list .list-card:nth-child(4n) .icon-wrap {
  background: #D7FFD9;
}

.why-us-content-list .list-card:nth-child(5n) .icon-wrap {
  background: #FFECFD;
}

.why-us-content-list .list-card:nth-child(6n) .icon-wrap {
  background: #FFF4EC;
}

.why-us-content-list .list-card .sub-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* why choose us section end */

/* dow-app section */
.dow-app-section {
  margin-top: 65px;
}

.banner-right-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 23px;
}

.dow-app-text .common-title {
  text-align: start;
}

.dow-btn-grup {
  display: flex;
  gap: 15px;
}
.dow-btn-grup .dow-btn{
  width: 165px;
  height: 65px;
}
.dow-sec-inner {
  background: #F3FBFF;
  border-radius: 25px;
  padding: 30px 80px 30px;
  position: relative;
  background-image: url('/assets/front/images/dow-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-right-img {
  margin-top: -130px;
}

.banner-right-img .right-img-1 {
  width: 182px;
  height: 366px;
}

.banner-right-img .right-img-2 {
  width: 201px;
  height: 398px;
}

.dow-app-section .dow-app-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 9;
}

/* dow-app sec end */



.feature-sec,
.managmet-sec-wrap,
.mutual-funds {
  overflow: hidden;
  position: relative;
  z-index: 9;
}
/* terms and condition */
.terms-condition-wrap{
  position: relative;
  z-index: 9;
}
.terms-condition {
  position: relative;
  overflow: hidden;
}
.terms-condition .breadcrumb.top {
  margin-bottom: 35px;
}
.terms-condition .breadcrumb.contact{
  margin-bottom: 20px;
}
.breadcrumb.top .span-title {
  color: var(--whitecolor);
}