body{
        font-family: Poppins, Helvetica, "sans-serif" !important;
}
.csu {
    display: flex;
    justify-content: space-between;
}
.main-test {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}
.main-test .med-img .user-image {
    height: 50px;
    width: auto;
    object-fit: cover;
}
.main-test .timeline-item{
    margin-left: 25px;
    border-left: 2px solid #ebedf3;
    padding: 0 0 20px 50px;
    position: relative;
}
.dash-act-page .timeline.timeline-3 .timeline-items .timeline-item{
    border-left-color: #f3f6f5;
    padding-bottom: 0;
    border-left: 4px solid #f3f6f9 !important;
    /* padding: 0 0 20px 50px; */
}
.main-test .timeline-item:last-child{
    border-left-color: transparent !important;
}
.main-test .med-img{
    position: absolute;
    top: 0;
    left: -75px;
    border: 2px solid #ebedf3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    line-height: 0;
}
.dash-timline-page .timeline.timeline-6:before{
    left: 80.5px;
}
.dash-timline-page .timeline-item .timeline-label{
    width: 80px !important;
}
.font-call{
    font-family: Poppins, Helvetica, "sans-serif" !important;
    color:red;
}
.toast-icon{
    color:#ffffff !important;
}

.tab-views .col {
    padding-left: 5px;
    padding-right: 5px;
}
.tab-views .col a{
    font-size:12px;
}
.app-content-body {
    min-height: calc(100vh - 60px - 70px);
}
/*.app-content {
    min-height: calc(100% - 0px - 50px);
}*/
.obg-c img{
  object-fit: cover !important;
    object-position: center;
}
.dats-items {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: fit-content;
    display: inline-block;
    margin-bottom: 10px;
}
.dats-items  .btn{
    padding: 0.65rem 2rem;
}
.dats-box{
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
}
.dats-box:hover{
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background: #333;
}
.custom-scroll::-webkit-scrollbar {
    width: 4px;
}
.custom-scroll::-webkit-scrollbar-track {
   background:#f1f1f1; 
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2px;
}
#topbar_notifications_notifications::-webkit-scrollbar {
    width: 4px;
}
#topbar_notifications_notifications::-webkit-scrollbar-track {
   background:#f1f1f1; 
}
#topbar_notifications_notifications::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 2px;
}
div#topbar_notifications_notifications {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.valuation-auto {
    overflow-x: auto;
    max-width:100%;
    width:100%;
}
.valuation-auto .fqsa-header{
    white-space:nowrap;
}
.countrts{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:5px;
}
.countrts strong{
    font-size:15px;
}
.obers{
    overflow:auto !important;
}
.consd{
    margin-top: 26px !important;
}
.header-fixed.subheader-fixed.subheader-enabled .wrapper {
    padding-top: 94px !important;
}
.table{
    border-spacing:0px !important;
}
.buton{
    width:32.54px !important;
    height:32.54px !important;
    padding:0 !important;
    display:flex;
    align-items:center;
    justify-content:center;

}
.buton span{
   font-size: 12px !important;
    height: 12px;
    width: 12px;
}
.drop-btns .dropdown-toggle.nav-link:after,.drop-btns .dropdown-toggle.btn:after{
    content:"" !important;
    margin:0 !important;
    display:none !important;
}
.buton i{
    font: normal normal normal 14px/1 FontAwesome !important;
}
.drop-btns .download_option{
    width:32.53px !important;
    height:32.53px !important;
}
.paginationcolor {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    border: 1px solid #eef0f8;
    background: #eef0f8;
}
.logos {
    width: 130px;
    height: auto;
    margin-top: 10px;
}
.imgi-file {
    margin-top: 24px;
}
.pages{
    display:flex;
    align-items:center;
    justify-content:center;
}
.card-toolbar .form-control{
    height:32.53px !important
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px !important;
}
.aside .brand{
	background-color:#ffffff;
}
.brand-logo{
	margin-left:auto;
	margin-right:auto;
}
.input-group a.btn {
    height: 32.54px !important;
}
.card-header select{
        line-height: 32.54px !important;
    padding-top: 4px;
}
.accoun  .nav-tabs{
    margin-bottom:30px;
}
.white-space-nowrap{
    white-space:nowrap !important;
}
.accoun  .nav-tabs li a{
    padding: .75rem .75rem;
    color: #39374c;
    display:inline-block;
}
.accoun  .nav-tabs li a.active ,.accoun  .nav-tabs .nav-item.show a{
    color: #39374c;
    border-color: #dee2e6 #dee2e6 #f8f9fe;
    background-color: #f8f9fe;
}
.cual {
    display: block;
    margin-bottom: 30px;
        width: 100%;
}
.cual a{
    color: #ffffff;
    border-color: #172b4d;
    background-color: #172b4d;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    padding: 10px 20px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: .375rem;
    width:100%;
    display:block;
    height:100%;
}
.cual a:hover{
    text-decoration: none;
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.cual p{
    color:#ffffff;
    font-size:15px;
    font-weight:500;
}
.cosi{
	position:relative;
}
.nav-lifes input{
    border-radius:0;
}
.valu-rep .nav-link {
    font-size: .875rem;
    font-weight: 500;
    transition: all .15s ease;
    color: #00c3ed !important;
    width:100%;
    border: 1px solid #dae0ef;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

}
i.searchs{
    position: absolute;
    top: 0;
    left: auto;
    content: "";
    padding: 12px 15px;
    right: -50px;
    font-size: 18px;
}
.bg-labels{
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #ffffff !important;
    height: 44.5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}
.select2-container--default .select2-selection--single{
    border:1px solid #E4E6EF !important;
}
.input-group .form-control {
    border-radius:0.42rem !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}.select2-container{
    height: 38px !important;
}
/*.app-content-body {
    height: calc(100% - 50px - 20px);
}*/
#client_response .card-header .card-title .card-label .label {
    display: inline-block;
    height: auto;
    text-align: center;
}
#report_response .card-header .card-title .card-label .label {
    display: inline-block;
    height: auto;
    text-align: center;
}
.fqsa{
    max-height:250px !important; 
    overflow-y: auto !important;
}
.contact-info{
        display: flex;
    margin-bottom: 10px;
}
.name-lable{
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
    width: 170px;
    text-align: left;
    margin-bottom: 0 !important;
}
.name-span{
        font-size: 14px;
    text-align: left;
    width: calc(100% - 40px);
    line-height: 27px;
    margin-left: 10px;
}
div#kt_quick_user_toggle span {
    color: #2974a7 !important;
}
.subheader-main {
    width: 65%;
}
.tot{
    white-space: nowrap;
}
.recent-email{
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
}
.recent-email p{
    margin-bottom: 10px;
    font-size: 14px;
}
.scroll-block{
    max-height: 300px;
    overflow-y: auto;
}
.recent-email .date_email span{
    font-size: 12px;
    font-weight: 600;
}
.recent-email:nth-child(odd){
    background-color: #f9f9f9;
}
/*-------------------media query---------------*/
@media(max-width:991px){
    
    .header-fixed.subheader-fixed.subheader-enabled .wrapper{
        padding-top: 40px !important;
    }
    .pad-t {
        white-space: nowrap;
        margin-left: 4px;
        margin-top: 2px;
    }
    .relationbtn{
        padding-right: 12px;
    }
    .card-toolbar {
        padding: 6px 12px;
    }
    .header-mobile {
        background-color: #ffffff !important;
    }
    .dropdown-menu {
        width: 100% !important;
        min-width: 20rem !important;
        right: 0 !important;
        left: 00px !important;
    }
    .notfic .dropdown-menu{
        min-width: 24rem !important;
            left:50% !important;
    }
    .settings-dropdown.dropdown-menu{
        min-width: 20rem !important;
        left: -1rem !important;
    }

    .header-mobile .burger-icon span {
        background-color: #2974a7 !important;
    }
    .header-mobile .btn .svg-icon svg g [fill] {
        fill: #2974a7 !important;
    }
    .header-mobile .burger-icon span::before, .header-mobile .burger-icon span::after{
        background-color: #2974a7 !important;
    }
    #kt_header_mobile img{
        height:45px;
        width:auto;
    }
    .app-content {
        margin-top: 15px;
    }
    .select2-container {
        height: 38px !important;
        width: 100% !important;
    }
    .app-content-body {
        height: calc(100% - 50px - 20px);
    }
    .dropdown-menu {
        width: 100% !important;
    }
    .navi .navi-item .navi-link{
            padding: 0.5rem 0.5rem !important;
        font-size: 12px !important;
    }
    #kt_advance_table_widget_4 #client_response td{
        
        white-space: nowrap;
    }
    .fqsa{
        overflow-x: auto;
        white-space: nowrap;
        max-height: 250px !important;
        overflow-y: auto !important;
        max-width: 100% !important;
    }
    .fqsa-header{
         max-height:fit-content !important; 
        overflow-y: auto !important;
        height:fit-content !important;
        white-space:nowrap;
    }
    .fqsa-header .card-title{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    button#kt_header_mobile_toggle {
        display: none;
    }
}
@media(max-width: 768px){
   /* .aside {
        background-color: #fff !important;
    }
    .aside-menu {
        background-color: #fff !important;
    }
    .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link {
        background-color: #f3f6f9!important;
    }
    .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .fas {
        color: #187DE4!important;
    }
    .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text {
        color: #187DE4!important;
    }
    .aside-menu .menu-nav > .menu-item > .menu-link .menu-icon {
        color: #000!important;
    }
    .aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
        color: #000!important;
    }
    .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link {
        background-color: #f3f6f9!important;
        margin-bottom: 1px;
    }
    .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .fas {
        color: #187DE4!important;
    }
    .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-text {
        color: #187DE4!important;
    }
    .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-arrow, .aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-arrow {
        color: #187DE4!important;
    }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link {
        background-color: #f3f6f9!important;
    }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-bullet.menu-bullet-dot > span {
        background-color: #187DE4!important;
    }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-text {
        color: #187DE4!important;
    }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
        background-color: #f3f6f9 !important;
    }
    .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text {
        color: #000!important;
    }
    i {
        color: #000;
    }*/
    .sra{
        width: 100%;
    }
    .subheader.subheader-solid{
        margin-bottom: 0;
    }
    .detail-card{
        background: transparent;
        border: 1px solid #22b8a0 !important;
        box-shadow: none !important;
    }
    .pad-0{
        padding: 0px !important;
    }
    .dis-none{
        display: none !important;
    }
    .card-header{
        display: none;
    }
    .table-striped tbody tr:nth-of-type(odd){
        background-color: #fff;
    }
    .table-responsive{
        overflow-x: unset;
    }
    .mob-card{
        background-color: transparent;
        box-shadow: none !important;
    }
    .mob-card label{
        font-weight: 600;
        font-size: 15px;
        color: #212529;
    }
    .mob-card .form-control{
        border: 1px solid #22b8a0;
    }
    .mob-tab .mob-tr{
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #000;
        box-shadow: 0 0 20px -10px #000;
        background: #fff;
        float: left;
    }
    .mob-tab .mob-tr td{
        width: 100%;
        text-align: center!important;
        float: left;
    }
    .mob-tr .btn.btn-icon.btn-sm, .btn-group-sm > .btn.btn-icon{
        width: calc(2.35em + 1.1rem + 2px);
    }
    .subheader-main{
        width: unset;
    }
    
    .content .card-body .card-spacer{
        padding: 2rem 0rem !important;
    }
    .content .card-rounded-bottom.bg-danger{
        background-color: transparent!important;

    }
    .content .card.card-custom.bg-gray-100.card-stretch.gutter-b.consd{
        box-shadow: none;
        background: transparent !important;
    }
    .dats-box .text-warning, .dats-box .text-primary ,.dats-box .text-danger ,.dats-box .text-success{
        color: #2974a7 !important;
    }
    .card-spacer .bg-light-warning, .card-spacer .bg-light-danger ,.card-spacer .bg-light-primary , .card-spacer .bg-light-success  {
        background: #fff !important;
    }
    .countrts .svg-icon.svg-icon-warning svg g [fill],.countrts .svg-icon.svg-icon-danger svg g [fill],.countrts .svg-icon.svg-icon-primary svg g [fill] , .countrts .svg-icon.svg-icon-success svg g [fill]{
        fill: #2974a7 !important;
    }
    .countrts{
        display: block;
    }
    .dats-box{
        margin-bottom: 1.75rem !important;
    }
}
@media(max-width:600px){
    .pad-t {
        padding-top: 5px;
        width: 90px;
        margin-left: 2px;
    }
    .subheader-main{
        width: 100%;
    }
    .card-header {
        padding: 0px !important;
    }
    .tab-views .col {
        padding-left: 5px;
        padding-right: 5px;
        width: auto;
        margin-bottom: 8px;
        min-width: fit-content;
    }
    .dats-box {
        margin-bottom: 1.75rem !important;
    }
    .dats-d .col{
        min-width: fit-content !important;
    }
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 55px !important;
    }
    .clie-list{
        margin-top:10px;
    }
    #kt_subheader_total{
        white-space:nowrap;
    }
    .cos{
        margin-top:10px;
    }
    .download_option button#dropdownMenuButton {
        max-width: 100% !important;
       width: 100% !important;
    }
    .table-responsive {
        margin-top: 7px;
    }
    .card.card-custom.gutter-b {
        margin-top: 5px;
    }
    .mobile-lefts{
        margin-left:auto;
    }
    .pl-xs-0{
        padding-left:0 !important;
    }
    .pr-xs-0{
        padding-right:0 !important;
    }
    .m-xs-0{
        margin-left:0 !important;
        margin-right:0 !important;
    }
    .tot{
            width: 60px;
    }
    /*.sra {
        width: calc(100% - 65px);
    }*/
    .pad-t{
        padding-top:5px;
    }
    .app-content{
        margin-top:0px;
    }
    .card.card-custom > .card-body {
        padding: 10px 12px;
    }
    .card-toolbar a{
            height:32.53px !important;
    }
    .card-toolbar button{
            height:32.53px !important;
    }
    .btn{
        font-size:11px;

    }
    .dash .card-toolbar a{
        width:fit-content !important;
        margin-left: 10px !important;
    }
    .cancel{
        padding: 10px 15px;
    }
    .submit{
        padding: 10px 15px;
    }
    .gutter-b{
        margin-top: 20px;
    }
    .card-title{
        padding:6px 12px;
    }
    .app-content-body {
       height: calc(100% - 50px - 30px);
    }
}

